:root{
    --bodyFont: 'Dosis',sans-serif;
    --headerFont: 'Righteous',cursive;
    --black: rgb(0, 0, 0);
    --lightGrey: rgb(122, 122, 122);
    --violet: rgb(60, 5, 105);
    --purple: rgb(19, 84, 158);
    --boxShadow: 8px 8px 20px rgba(98, 122, 122, 0.897);
    scroll-behavior: smooth;
}

body{
    font-family: var(--bodyFont);
    font-size: 14px;
    color: var(--black);
    background: rgb(247, 241, 252);
}

a{
    color: white;
    text-decoration: none;
}

h2{
    font-family: var(--headerFont);
}

::selection {
    background: rgba(32, 142, 175, 0.822);
    color: white;
  }

/*  HEADER  */

.main-header {
    height: 80vh;
    min-height: 450px;
    max-height: 600px;
    background: url('../img/cover.jpg')
                center center / cover            
                no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*  header welcome */

.header-welcome{
    width: 60%;
    padding-left: 2%;
    padding-top: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header-welcome > p {
    font-family: var(--headerFont);
    font-size: 5em;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.03em;
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 1.2em;
    font-weight: 800;
}

h1 .name {
    color: var(--violet);
}

h1 .role{
    font-family: var(--bodyFont);
    font-weight: 400;
    font-size: 0.7em;
}

/*  header photo */

.img-container {
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-width:7px;
    border-style:solid;
    border-radius: 50%;
    position: absolute;
    left: calc(60% - 140px);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-shadow: 15px 15px 70px -17px rgba(0,0,0,0.75);
            box-shadow: 15px 15px 70px -17px rgba(0,0,0,0.75);
}

.img-container img {
    width: 100%;
    height: auto;
}


/*  header links */

.header-links {
    background: rgba(94, 31, 167, 0.801);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    width: 40%;
}

.links-nav{
    text-align: right;
    font-weight: 800;
    letter-spacing: .2px;
}


.links-nav ul{
    list-style: none;
    padding: 10px;
    font-size: 0;
}

.links-nav ul li{
    display: inline-block;
    margin: 10px 30px;
    font-size: 20px;
}

.links-nav a {
    -webkit-transition: border .2s ease-out;
    -o-transition: border .2s ease-out;
    transition: border .2s ease-out;
    border-top: 1px solid transparent;
}

.links-nav a:hover {
    border-bottom: 2px solid white;
}

.links-social{
    text-align: right;
    text-align: end;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: var(--headerFont);
}

.links-social > span {
    padding: 3px;
    padding-left: 30px;
    margin-bottom: 30px;
    letter-spacing: .5px;
    border-bottom: 1px solid white;
}

.links-social > ul {
    list-style: none;
    font-size: 0;
}

.links-social ul li{
    display: inline-block;
    font-size: 1.5rem;
    padding: 10px;
}

.links-social a {
    -webkit-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
}

.links-social a:hover{
    color: rgb(255, 255, 255, 0.5);
}

/* MAIN */

.main-wrapper {
    width: 80%;
    margin: 0 auto;
}

/* main  introduction  */

.introduction {
    text-align: center;
    font-family: var(--headerFont);
    font-weight: 700;
    margin: 30px 0;
}

.introduction a {
    display: inline-block;
    color: var(--violet);
    padding: 10px 50px;
    border: 1px solid var(--violet);
    border-radius: 20px;
    margin: 10px;
    font-size: 0.9em;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.introduction a.filled {
    background: var(--violet);
    color: white;
}

.introduction a:hover {
    color: var(--purple);
    border: 1px solid var(--purple);
}

.introduction a.filled:hover {
    color: white;
    background: var(--purple);
    border: 1px solid var(--purple);
}

/*  main about */

.about{
    text-align: center;
    margin: 50px;
}

.about-wrapper{
    width: 95%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: var(--boxShadow);
            box-shadow: var(--boxShadow);
    background: rgba(207, 196, 226, 0.897);
}

.personal-info{
    width: 35%;
    border-right: 1px solid var(--lightGrey);
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.personal-info{
    font-weight: 800;
}

.personal-info p{
    margin: 0;
    line-height: 2.1em;
}

.personal-info .info{
    color: var(--violet);
    font-family: var(--headerFont);
}

.personal-description {
    width: 65%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    padding-right: 50px;
    text-align: left;
    line-height: 1.7em;
    letter-spacing: 0.01em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
}

.personal-description p{
    margin: 0;
}

.about-social {
    display: none;
}

/* main skills */

.skills {
    text-align: center;
    margin: 50px;
}

.skills-wrapper {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hard-skills,
.soft-skills{
    width: 47%;
    min-height: 200px;
    -webkit-box-shadow: var(--boxShadow);
            box-shadow: var(--boxShadow);
    background: rgba(207, 196, 226, 0.897);
    padding: 5px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.skills h3 {
    font-family: var(--headerFont);
    margin: 10px;
}

.skills .underline {
    border-bottom: 1.5px solid var(--purple);
}

.single-skill {
    text-align: left;
    font-size: .9em;
    margin: 20px 0;
}

.single-skill h4 {
    margin: 5px;
}

.single-skill .skill-bar {
    width: 100%;
    height: 7px;
    background: var(--lightGrey);
    border-radius: 3px;
    position: relative;
}

.single-skill .skill-bar::before {
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    background: var(--purple);
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.single-skill .skill-bar::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: rgb(14, 40, 75) ;
    position: absolute;
    left: calc(100% - 6px);
    top: -4.0px;
}

.single-skill .skill-bar.good::before {
    width: 75%;
}

.single-skill .skill-bar.good::after {
    left: calc(75% - 6px);
}

.single-skill .skill-bar.medium::before {
    width: 50%;
}

.single-skill .skill-bar.medium::after {
    left: calc(50% - 6px);
}

/* main portfolio */

.portfolio {
    text-align: center;
    margin-top: 60px;
}

.portfolio a {
    color: var(--violet);
    font-weight: 800;
}

.portfolio-wrapper {
    text-align: left;
    width: 90%;
    margin: 30px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.single-work .img-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-width:7px;
    border-style:ridge;
}

.single-work .img-wrapper .overlay{
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.single-work .img-wrapper .overlay p{
    display:none;
}

.single-work img{
    width: 100%;
    display: block;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.single-work .img-wrapper:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    }

.single-work .img-wrapper:hover .overlay {
    opacity: 1;
    cursor: default;
}



.single-work h3 {
    margin: 15px 0 0 0;
}

.single-work .work-description {
    opacity: 0.6;
    font-size: .9em;
    line-height: 1.3em;
    font-weight: 600;
}

/* CONTACT */

.contact {
    margin: 70px auto;
    margin-bottom: 5px auto;
}

.contact-wrapper {
    width: 90%;
    margin: 30px auto;
    margin-bottom: 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 15px 15px 70px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 15px 15px 70px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact-info {
    width: 35%;
    padding: 15px;
    padding-right: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: var(--violet);
    color: white;
    font-size: .9em;
    line-height: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact-info hr {
    display: inline-block;
    color: white;
    border: 2px solid white;
    width: 40%;
    margin: 10px 0;
}

.address-info {
    font-style: normal;
    justify-self: flex-end;
    margin-top: auto;
}

.contact-info .city {
    font-weight: 800;
}

.contact-info ul {
    font-size: 0;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.contact-info li {
    font-size: 1rem;
    padding: .5rem;
    display: inline-block;
}

.contact-form {
    width: 60%;
    padding: 15px;
}

.contact-form input,
.contact-form label,
.contact-form textarea{
    width: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin: 10px auto;
    padding: 3px 0;
    font-size: .9em;
    font-weight: 600;
    outline-color: var(--violet);
    background: transparent;
}

.contact-form label {
    margin-top: 0px;
    font-weight: 800;
    letter-spacing: .01em;
}

.contact-form input,
.contact-form textarea{
    margin-bottom: 0px;
    border: none;
    border-bottom: 2px solid var(--purple);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-bottom: 2px solid transparent;
}

.contact-form textarea{
    min-height: 150px;
    resize: none;
    line-height: 1.3em;
}
.contact-form button{
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    background: var(--violet);
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    font-size: .9em;
    font-weight: 600;
    outline-color: var(--violet);
}

/* ANIMATIONS */

@-webkit-keyframes scrolldown{
    from {top: 4px; opacity: 1;}
    to {top: 25px; opacity: 0;}
}


@keyframes scrolldown{
    from {top: 4px; opacity: 1;}
    to {top: 25px; opacity: 0;}
}

@media screen and (max-width: 1180px) {
    .links-nav ul li {
        margin: 10px 20px;
    }

    .header-welcome > p {
        font-size: 3.5em;
    }

    .about {
        margin: 50px auto;
    }

    .skills {
        margin: 50px auto;
    }
}

/*  RWD  */

@media screen and (max-width: 1010px) {
    .links-nav ul li {
        display: block;
        margin: 30px 20px;
        font-size: 1.1rem;
    }

    .img-container {
        width: 200px;
        height: 200px;
        left: calc(60% - 100px);
    }

    .mouse {
        display: none;
    }

    .portfolio-wrapper {
        -ms-grid-columns: 1fr 40px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 910px) {
    .main-wrapper {
        width: 90%;
    }
    
    .header-welcome {
        font-size: .8em;
    }

    h1 .role {
        font-size:.8em;
    }
}

@media screen and (max-width: 850px) {
    body {
        background: rgb(117, 107, 107);;
    }
    
    .main-header {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .img-container {
        left: calc(65% - 100px);
    }
    
    .header-links {
        width: 35%;
    }
}

@media screen and (max-width: 750px) {
    .main-wrapper {
        width: 100%;
    }

    .main-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .header-links {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 100%;
        height: 50px;
        display: block;
    }

    .links-nav {
        text-align: center;
    }

    .header-links ul {
        margin: 0 auto;
    }

    .header-links ul li {
        margin: 3px 20px;
        display: inline-block;
    }

    .links-social {
        display: none;
    }

    .links-social ul li{
        padding: 10px;
        margin: 0;
    }

    .img-container {
        left: auto;
        position: relative;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .header-welcome {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }

    .introduction h2 {
        padding: 0 15px;
    }

    .about-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .personal-info,
    .personal-description {
        width: 100%;
        border: none;
    }

    .personal-info {
        padding-bottom: 10px;
        text-align: center;
    }
    
    .personal-description {
        text-align: justify;
        padding: 20px;
    }

    .about-social {
        display: block;
    }
    
    .about-social a {
        color: var(--violet);
    }
    
    .about-social ul {
        margin: 0;
        padding: 0;
        font-size: 0;
    }
    
    .about-social ul li {
        display: inline-block;
        padding: 20px;
        margin: 0;
        font-size: 1.5rem;
    }

    .contact-wrapper {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contact-info,
    .contact-form {
        width: 100%;
        text-align: center;
    }

    .contact-form {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        padding: 0;
    }

    .contact-form form {
        text-align: left;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 30px 50px;
    }

    .contact-info {
        font-size: 1em;
        width: 100%;
        padding: 20px;
    }

    .contact-info li{
        font-size: 1.5rem;
        padding: 20px;
    }

    .contact-info hr{
        margin: 0 auto;
    }
}



@media screen and (max-width: 630px) {
    .main-header {
        height: auto;
    }

    .main-header .img-container {
        margin: 20px;
    }
    
    .header-links {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        height: auto;
        background: rgb(255,255,255,.4);
    }

    .header-links a {
        color: var(--black);
    }

    .header-links ul li {
        font-size: 1.4rem;
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0;
        padding: 10px;
        border-bottom: 2px solid rgb(255,255,255,.3);
    }
    
    .header-links ul li:first-of-type {
        border-top: 2px solid rgb(255,255,255,.3);
    }
    
    .about-wrapper {
        font-size: 1.2em;
    }
    
    .skills-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 1.2em;
    
    }

    .skills-wrapper h3 {
        font-size: 1em;
    }

    .hard-skills,
    .soft-skills {
        width: 100%;
        margin-bottom: 10px;
    }

    .portfolio-wrapper {
        width: 85%;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        font-size: 1.2em;
    }

    .single-work .img-wrapper:hover img {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        -webkit-filter: none;
                filter: none;
    }
    
    .single-work .img-wrapper:hover .overlay {
        display: none;
    }

    .contact-form form {
        font-size: 1.4em;
        padding: 20px;
    }

}
